{% extends "base.njk" %}

{% block content %}
<h2>{{title}}</h2>
{% if errors.length %}
<div class="alert alert-danger" role="alert">
  {% for err in errors %}
    {{ err }}<br>
  {% endfor %}
</div>
{% endif %}
<form method="POST" action="/logon">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Provide email fot login.</div>
  </div>
  <div class="col-auto">
    <label for="pwd" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="pwd" aria-describedby="pwdHelp">
  </div>
  <div class="col-auto">
    <span id="pwdHelp" class="form-text">
      Provide your login password.
    </span>
  </div>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <button type="submit" class="btn btn-primary">Logon</button>
</form>
{% endblock %}
