<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#mainnav"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnav">
      <a class="navbar-brand" href="/">
        <img src="/img/code-slash.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        {{sitename}}
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if path=='home' }}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if path=='blog' }}" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if path=='resources' }}" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if path=='about' }}" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-gear" role="img" aria-label="Gear"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item {{ 'disabled' if isAuthenticated }}" href="/logon">
                <i class="bi-box-arrow-right" role="img" aria-label="Logon"></i> Logon
              </a>
            </li>
            <li>
              <a class="dropdown-item {{ '' if isAuthenticated else 'disabled'}}" href="/logoff">
                <i class="bi-box-arrow-left" role="img" aria-label="Logoff"></i> Logoff
              </a>
            </li>
            <li><a class="dropdown-item" href="/signup">Signup</a></li>
          </ul>
        </li>
      </ul>
      {% if isAuthenticated %}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
